<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body>
    <%- include("../partials/nav") %>    
    <main class="details content">
      <h2>Details</h2>
      <article>
        <h3> <%= blog.title %> </h3>
        <p> <%= blog.body %> </p>
        <button class="delete" data-doc="<%= blog._id %>">delete</button>
      </article>
      <script>
        const trashcan = document.querySelector("button.delete")
        trashcan.addEventListener("click", (e) => {
            const endpoint = `/blogs/${trashcan.dataset.doc}`
            fetch(endpoint, {
                method: "DELETE"
            })
            .then((result) => {
                console.log("Delete blog:")
                console.log(result)
                window.location.href = "/blogs"
            })
            .catch((err) => {
                console.log(err)
            })
        })
      </script>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>