<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>
  <body>
    <%- include("./partials/nav") %>    
    <main class="blogs content">
      <h2>All Blogs</h2>
      <% blogs.forEach(blog => { %>
      <article>
        <h3> <%= blog.title %> </h3>
        <p> <%= blog.snippet %> </p>
      </article>
      <% }) %>
    </main>
    <%- include("./partials/footer") %>
  </body>
</html>
